<section>
    <div class = "modal fade" id = "profile">
        <div class = "modal-dialog modal-xl modal-dialog-centered">
            <div class = "modal-content">

                <div class = "modal-header d-flex justify-content-center align-items-center text-centert">
                    <% if (user.image) { %>
                        <img src = "/user/image" alt = 'Foto de perfil' class = "rounded-circle"></a>
                    <% } else { %>
                        <img src = "/images/noUser.png" alt = "Foto de perfil alternativa" class = "rounded-circle"></a>
                    <% } %>
                    <h4> <%= user.name %> </h4>
                </div>

                <div class = "p-5 modal-body">

                    <div class = "row align-items-center">

                        <% 
                            const suggests = notices.filter(notice => notice.Type === 'Sugerencia').length
                            const incidents = notices.filter(notice => notice.Type === 'Incidencia').length
                            const congrats = notices.filter(notice => notice.Type === 'Felicitación').length
                        %>

                        <div class = "row d-flex justify-content-start align-items-center bg-light" id = "dataUser">

                            <div class = "row">
                                <span> <strong> Nombre a mostrar: </strong> <%= user.name %> </span>  
                            </div>

                            <div class = "row">
                                <span> <strong> Contraseña: </strong> <%= user.password %> </span>  
                            </div>
                            
                            <div class = "row">
                                <span> <strong> Se unió el </strong> <%= user.date %> </span>  
                            </div>

                            <div class = "row">
                                <span>
                                    <strong> Perfil: </strong> 
                                    <% if (user.employee === null) {%>
                                        Usuario
                                    <% } else { %>
                                        Técnico
                                    <% } %>
                                </span>  
                                <div class = "d-none" id = "profileUser"><%= user.profile %></div>
                            </div>

                        </div>

                        <div class = "row d-flex justify-content-center align-items-center bg-light mt-3" id = "infoNoticesUser">
                            <div class = "col col-sm col-md col-xl text-center">  
                                <% if (user.employee === null) {%>
                                    <h5> Avisos realizados: <%= incidents + suggests + congrats %></h5>
                                <% } else { %>
                                    <h5> Avisos gestionados: <%= incidents + suggests + congrats %></h5>
                                <% } %> 
                            </div>
                            <div class = "row d-flex justify-content-between">
                                <div class = "col col-sm col-md col-xl text-center">
                                    <span> <strong> Incidencias: </strong> <%= incidents %> </span>  
                                </div>
                                <div class = "col col-sm col-md col-xl text-center">
                                    <span> <strong> Sugerencias: </strong> <%= suggests %> </span>  
                                </div>
                                <div class = "col col-sm col-md col-xl text-center">
                                    <span> <strong> Felicitaciones: </strong> <%= congrats %> </span>  
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <div class = "modal-footer">
                    <button type = "button" class = "btn btn-primary" data-bs-dismiss = "modal"> Cerrar </button>
                </div>

            </div>
        </div>
    </div>
</section>