
<!DOCTYPE html>

<html lang = "es">
<head>

    <title> Avisos Entrantes </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link href = "../style/user.css" rel = "stylesheet">
    <link href = "../style/notice.css" rel="stylesheet">

    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "/javascript/showNotice.js"></script>

</head>
<body>

    <div class = "container-fluid">

        <%- include("partials/header") %>
        <%- include ('partials/navbars/technicalNav') %>
        <%- include ('partials/profile') %>
        
        <div id = "incomingNotices">
            <div class = "table-responsive d-flex justify-content-center p-3">
                <table class = "table table-hover text-center w-75">
                    <thead>
                        <tr>
                            <th class = "d-none"> Id </th>
                            <th> Tipo </th>
                            <th> Fecha </th>
                            <th> Texto </th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% incomingNotices.forEach(notice => { %>
                            <tr>
                                <td class = "d-none idNotice" id = "nNotice"> <%= notice.Id %></td>
                                <td> <%= notice.Type %> </td>
                                <td> <%= notice.Date %> </td>
                                <td> <%= notice.Text %> </td>
                                <td>
                                    <% if (notice.Technical === null) { %>
                                        <a href = "#" class = "material-icons text-decoration-none notice" data-bs-toggle = "modal" data-bs-target = "#assignModal"> engineering </a>
                                    <% } else { %>
                                        <a href = "#" class = "material-icons text-decoration-none nav-link"> engineering </a>
                                    <% } %>
                                    <a href = "#" class = "material-icons text-decoration-none notice" data-bs-toggle = "modal" data-bs-target = "#deleteModal"> delete </a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>    
            </div>
        </div>

        <div class = "modal fade" id = "assignModal">
            <div class = "modal-dialog modal-xl modal-dialog-centered">
                <div class = "modal-content">
        
                    <div class = "modal-header d-flex justify-content-center">
                        <h4> Asignar aviso </h4>
                    </div>
                    
                    <form action = "/notices/assignNotice" method = "POST">
                        <div class = "modal-body">
                        
                            <%- include('partials/notices/noticeInfo') %>

                            <div class = "row d-flex justify-content-center align-items-center">
                                Técnico:
                                <div class = "col col-sm-3 col-md-3 col-xl-3">
                                    <select name = "technicals" id = "technicals" class = "form-select">
                                        <% technicals.forEach(technical => { %>
                                            <option value = "<%= technical.Id %>"> <%= technical.Name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
            
                        <div class = "modal-footer">
                            <button type = "submit" class = "material-icons btn btn-primary">send</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class = "modal fade" id = "deleteModal">
            <div class = "modal-dialog modal-xl modal-dialog-centered">
                <div class = "modal-content">
        
                    <div class = "modal-header d-flex justify-content-center text-center">
                        <h4> Eliminar aviso </h4>
                    </div>
                    
                    <form action = "/notices/deleteNotice" method = "POST">
                        <div class = "modal-body">
                            
                            <%- include('partials/notices/noticeInfo') %>
                            
                            <label for = "commentNotice"> Comentario del técnico: </label>
                            <input type = "text" class = "form-control" id = "commentNotice" name = "commentNotice">
                        
                        </div>
                        
    
                        <div class = "modal-footer">
                            <button type = "submit" class = "btn btn-primary material-icons">delete</button>
                        </div>
                    </form>
        
                </div>
            </div>
        </div>
          
    </div>
    
</body>
</html>