<!DOCTYPE html>

<html lang = "es">
<head>

    <title> Mis Avisos </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link href = "../style/user.css" rel = "stylesheet">

    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "/javascript/newNotice.js"></script>
    <script src = "/javascript/showNotice.js"></script>

</head>
<body>

    <div class = "container-fluid">

        <%- include("partials/header") %>

        <% if (user.employee === null) { %>
            <%- include ('partials/userNav') %>
            <%- include ('partials/newNotice') %>
        <% } else { %>
            <%- include ('partials/technicalNav') %>
        <% } %> 

        <%- include ('partials/profile') %>
        
        <div id = "myNotices">
            <div class = "table-responsive d-flex justify-content-center p-3">
                <table class = "table table-hover text-center w-75">
                    <thead>
                        <tr>
                            <th> Tipo </th>
                            <th> Fecha </th>
                            <th> Texto </th>
                            <% if (user.employee === null) {%>
                                <th> Técnico </th>
                            <% } %>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% notices.forEach((notice, index) => { %>
                            <% if (!notice.Done) {%>
                            <tr>
                                <td> <%= notice.Type %> </td>
                                <td> <%= notice.Date %> </td>
                                <td> <%= notice.Text %></td>
                                <% if (user.employee === null) { %>
                                    <td> <%= notice.Technical %> </td> 
                                <% }%>
                                <td>
                                    <a href = "/notices/getNotice/<%=notice.Id%>" class = "material-icons text-decoration-none" id = "notice" data-bs-toggle = "modal" data-bs-target = "#showModal"> visibility </a>
                                </td>
                            </tr>
                        <% }}); %>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
    

    <div class = "modal fade" id = "showModal">
        <div class = "modal-dialog modal-xl modal-dialog-centered">
            <div class = "modal-content">
    
                <div class = "modal-header d-flex justify-content-center">
                    <h4> Asignar aviso </h4>
                </div>
    
                <div class = "modal-body">
                    
                    <%- include('partials/noticeInfo') %>
    
                    
                </div>
    
                <div class = "modal-footer">
                    <button type = "button" class = "material-icons btn btn-primary">send</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>