<section>
    <div class = "modal fade" id = "profile">
        <div class = "modal-dialog modal-xl modal-dialog-centered">
            <div class = "modal-content">

                <div class = "modal-header d-flex justify-content-center align-items-center text-centert">
                    <h4> <%= user.name %> </h4>
                </div>

                <div class = "modal-body">

                    <div class = "row d-flex justify-content-center align-items-center text-center">
                        <div class = "col col-sm col-md col-xl"> Se unió el <%= user.date %> </div>
                        <div class = "col col-sm col-md col-xl"> Perfil: <%= user.profile %> </div>
                    </div>

                    <div class = "row d-flex justify-content-center align-items-center text-center">
                        <div class = "col col-sm col-md col-xl"> Contraseña: <%= user.password %> </div>
                        <div class = "col col-sm col-md col-xl"> Nombre a mostrar: <%= user.name %> </div>
                    </div>

                    <div class = "row d-flex justify-content-center align-items-center text-center">
                        <% if (user.profile === 'Usuario') {%>
                            <h5> Avisos realizados: <%= incidents + suggests + congrats %></h5>
                        <% } else { %>
                            <h5> Avisos gestionados: <%= incidents + suggests + congrats %></h5>
                        <% } %>
                    </div>

                    <div class = "row d-flex justify-content-center align-items-center text-center">
                        <div class = "col col-sm-4 col-md-4 col-xl-4"> Incidencias: <%= incidents %> </div>
                        <div class = "col col-sm-4 col-md-4 col-xl-4"> Sugerencias: <%= suggests %> </div> 
                        <div class = "col col-sm-4 col-md-4 col-xl-4"> Felicitaciones: <%= congrats %> </div> 
                    </div>
                </div>

                <div class = "modal-footer">
                    <div class = "modal-dissmis">
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>