
<!DOCTYPE html>

<html lang = "es">
<head>

    <title> Búsqueda </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link href = "../style/user.css" rel = "stylesheet">
    <link href = "../style/notice.css" rel = "stylesheet">
    <link href = "../style/search.css" rel = "stylesheet">

    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "/javascript/showNotice.js"></script>
    
</head>
<body>

    <div class = "container-fluid">

        <%- include("partials/header") %>

        <% if (user.employee === null) { %>
            <%- include ('partials/navbars/userNav') %>
            <%- include ('partials/notices/newNotice') %>
        <% } else { %>
            <%- include ('partials/navbars/technicalNav') %>
        <% } %> 

        <div id = "searchResults">
            <div class = "row d-flex justify-content-center p-3">
                <% if (searchUser) { %>
                <div class = "row text-center w-75 bg-light p-2 searchBar">
                    <div class = "col col-sm col-md col-xl"> Fecha </div>
                    <div class = "col col-sm col-md col-xl"> Nombre </div>
                    <div class = "col col-sm col-md col-xl"> Rol </div>
                    <div class = "col col-sm col-md col-xl"> Acciones </div>
                </div>
                <% search.forEach(s => { %>
                    <div class = "row text-center w-75">
                        <div class = "col col-sm col-md col-xl"> <%= s.Date %> </div>
                        <div class = "col col-sm col-md col-xl"> <%= s.Name %> </div>
                        <div class = "col col-sm col-md col-xl"> 
                            <% if (s.Employee === null) { %>
                                <div class = "col col-sm col-md col-xl"> Usuario </div>
                        <% } else { %>
                                <div class = "col col-sm col-md col-xl"> Técnico </div>
                        <% } %> </div>
                        <div class = "col col-sm col-md col-xl"></div>
                    </div>
                <% }); %>
                <% } else { %>
                    <div class = "row text-center w-75 bg-light p-2 searchBar">
                        <div class = "col col-sm col-md col-xl d-none"> Id </div>
                        <div class = "col col-sm col-md col-xl"> Tipo </div>
                        <div class = "col col-sm col-md col-xl"> Fecha </div>
                        <div class = "col col-sm col-md col-xl"> Texto </div>
                        <div class = "col col-sm col-md col-xl"> Acciones </div>
                    </div>
                    <% search.forEach(s => { %>
                        <div class = "row text-center w-75">
                            <div class = "d-none idNotice" id = "nNotice"> <%= s.Id %> </div>
                            <div class = "col col-sm col-md col-xl"> <%= s.Type %> </div>
                            <div class = "col col-sm col-md col-xl"> <%= s.Date %> </div>
                            <div class = "col col-sm col-md col-xl"> <%= s.Text %> </div>
                            <div class = "col col-sm col-md col-xl">
                                <a href = "#" class = "material-icons text-decoration-none notice" data-bs-toggle = "modal" data-bs-target = "#showModal"> visibility </a>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>

        <div class = "modal fade" id = "showModal">
            <div class = "modal-dialog modal-xl modal-dialog-centered">
                <div class = "modal-content">
        
                    <div class = "modal-header d-flex justify-content-center">
                        <h4> Ver aviso </h4>
                    </div>
                    
                    <form action = "/notices/finishNotice" method = "POST">
                        <div class = "modal-body">
    
                            <%- include('partials/notices/noticeInfo') %>
                            
                            <div class = "row mt-3 p-3">
                                <div class = "row align-items-center p-2"> Comentarios del técnico: </div>
                                <div class = "row p-4 bg-light" id = "comment"></div>
                            </div>
    
                        </div>
                        
                        <div class = "modal-footer">
                            <button type = "button" class = "btn btn-primary" data-bs-dismiss = "modal"> Cerrar </button>
                        </div>
    
                    </form>
                </div>
            </div>  
        </div>
    </div>  
</body>
</html>