<!DOCTYPE html>

<html lang = "es">
<head>
    <title> Sign up </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel = "stylesheet" href = "../style/signIn.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type = 'application/javascript'>
        $(function() {
            $('#profile').on('change', () => {
                let profile = $('select[id = profile]').val();
                if (profile === 'PDI') $('#isTechnical').removeClass('d-none');
                else {
                    $('#isTechnical').addClass('d-none');
                    $('.nEmployee').addClass('d-none');
                }
            });
        });

        $(function() {
            $('#technical').on('click', () => {
                if ($('input:checkbox[name=technical]:checked').val() === 'on') $('.nEmployee').removeClass('d-none');
                else $('.nEmployee').addClass('d-none'); 
            });
        });
    </script>
</head>
<body>

    <div class = "container-fluid">
        <header>
            <div class = "row p-3 align-items-center bg-light">

                <div class = "col col-sm-2 col-md-2 col-xl-2">
                    <a href = "#">
                        <img src = "../images/logo.png" alt = "Logo de la Universidad Complutense de Madrid">
                    </a>
                </div>

                <div class = "col offset-2 col-sm-4 col-md-4 col-xl-4" id = "title">
                    <h3> UCM - CAU </h3>
                    <h6> Centro de Atención al Usuario </h6>
                </div>
            
            </div>
        </header>

        <section>

            <!-- Create account -->
            <div class = "row bg-light mt-4 justify-content-center" id = "newAcc">
                <div class = "col col-sm-12 col-md-12 col-xl-12 mt-4" id = "newTitle">
                    <h4> Nueva Cuenta </h4>
                </div>

                <div class="row">
                    <form action = "/user/signIn" method = "POST" enctype = "multipart/form-data">

                        <div class = "form-group row">

                            <label for = "email" class = "col-form-label">Email:</label>
                            <input type = "email" class = "form-control w-50" id = "email" name = "email">
                            <% if (errors.email !== undefined) { %>
                                <span class = "errors w-50"> <%= errors.email.msg %> </span>
                            <% } %>
                            <div id = "emailHelp" class = "form-text">El email introducido debe de corresponder a uno de la UCM.</div>
                            
                        </div>
                        
                        <div class = "form-group row">
                            
                            <label for = "name" class = "col-form-label"> Nombre: </label>
                            <input type = "text" class = "form-control w-50" id = "name" name = "name">
                            <% if (errors.name !== undefined) { %>
                                <span class = "errors w-50"> <%= errors.name.msg %> </span>
                            <% } %>
                            <div id = "nameHelp" class = "form-text"> Campo obligatorio </div>
                        
                        </div>

                        <div class = "form-group row">

                            <label for = "password" class = "col-form-label">Contraseña:</label>
                            <input type = "password" class = "form-control w-50" id = "password" name = "password">
                            <% if (errors.password !== undefined) { %>
                                <span class = "errors w-50"> <%= errors.password.msg %> </span>
                            <% } %>
                            <div id = "passwordHelp" class = "form-text"> Entre 6 y 8 caracteres, al menos: 1 dígito, 1 minúscula, 1 mayúscula y 1 caracter no alfanumérico.</div>

                        </div>

                        <div class = "form-group row">

                            <label for = "confirmPass" class = "col-form-label">Confirmar contraseña:</label>
                            <input type = "password" class = "form-control w-50" id = "confirmPass" name = "confirmPass">
                            <% if (errors.confirmPass !== undefined) { %>
                                <span class = "errors w-50"> <%= errors.confirmPass.msg %> </span>
                            <% } %>

                        </div>

                        <div class = "form-group row mt-2">

                            <div class = "col col-sm-6 col-md-6 col-xl-6">
                                <label for = "profile" class = "col-form-label">Perfil Universitario:</label>
                                <div>
                                    <select class = "form-control form-select" name = "profile" id = "profile">
                                        <option value = "Alumno">Alumno</option>
                                        <option value = "PAS">Personal de Administración y Servicios</option>
                                        <option value = "PDI">Personal Docente e Investigador</option>
                                        <option value = "Antiguo Alumno">Antiguo Alumno</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class = "col col-sm-4 col-md-4 col-xl-4 form-check-inline d-none" id = "isTechnical">
                                <input type = "checkbox" class = "form-check-input" id = "technical" name = "technical">
                                <label for = "technical" class = "form-check-label">Técnico</label>
                            </div>

                        </div>

                        <div class = "form-group row">
                            <label for = "nEmployee" class = "form-check-label nEmployee d-none"> Numero de Empleado: </label>
                            <input type = "text" class = "form-control nEmployee w-50 d-none" id = "nEmployee" name = "nEmployee">
                            <% if (errors.nEmployee !== undefined) { %>
                                <span class = "errors w-50"> <%= errors.nEmployee.msg %> </span>
                            <% } %>
                            <div id = "nEmployeeHelp" class = "form-text nEmployee d-none"> El número corresponderá a 4 dígitos seguidos de un guión seguido de 3 minúsculas.</div>
                        </div>

                        <div class = "form-group row">
                            <label for = "image" class = "form-check-label"> Imágen de perfil </label>
                            <input type = "file" class = "col col-sm-6 col-md-6 col-xl-6" name = "image">
                        </div>

                        <div class="form-group row mt-3">

                            <div class = "col col-sm-6 col-md-6 col-xl-6">
                                <button type = "submit" class = "btn btn-primary" id = "btnSignIn"> Crear cuenta </button>
                            </div>
                            
                            <div class="col col-sm-6 col-md-6 col-xl-6">
                                <button type = "button" class = "btn btn-secondary" id = "btnLogIn"> 
                                    <a href = "/user/login" id = "login"> Iniciar sesión </a>
                                 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    
    </div>
    
</body>
</html>