<!DOCTYPE html>
<html lang="en">
<head>
    <title> Usuario </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link href = "style/user.css" rel = "stylesheet">
</head>
<body>
    <div class = "container-fluid">

        <%- include("header") %>

        <section>
            <nav class = "bg-light" role = "tablist">
                <ul class = "nav nav-tabs">

                    <li class = "nav-item">
                        <a href = "/#myNotices" class = "nav-link" data-bs-toggle = "tab"> Mis Avisos </a>
                    </li>

                    <li class = "nav-item">
                        <a href = "/#noticesHistorical" class = "nav-link" data-bs-toggle = "tab"> Histórico de Avisos </a>
                    </li>

                    <li>
                        <form action = "GET">
                            <span class="form-group">
                                <input type = "text" placeholder = "Search">
                                <button type = "submit" class = "btn btn-primary"> Buscar </button>
                            </span>
                        </form>
                    </li>

                    <li>
                        <button type = "button" href = "#" class = "btn btn-primary material-icons dropdown-toggle" data-bs-toggle = "dropdown"> add </button>
                        <ul class = "dropdown-menu">
                            
                            <li>
                                <a href = "#" class = "dropdown-item" data-bs-toggle = "modal" data-bs-target = "#newNotice"> Sugerencia </a>
                            </li>   
                            
                            <li>
                                <a href = "#" class = "dropdown-item" data-bs-toggle = "modal" data-bs-target = "#newNotice"> Incidencia </a>
                            </li>
                            
                            <li>
                                <a href = "#" class = "dropdown-item" data-bs-toggle = "modal" data-bs-target = "#newNotice"> Felicitación </a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </nav>
        </section>

        <section>
            <div class = "tab-content">
                <div id = "myNotices" class = "tab-pane fade">
                    <div class = "table-responsive">
                        <table class = "table-hover text-center w-100">
                            <thead>
                                <tr>
                                    <th> Tipo </th>
                                    <th> Fecha </th>
                                    <th> Texto </th>
                                    <th> Técnico </th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notices.forEach((notice) => { %>
                                    <% if (!notice.Done) {%>
                                    <tr>
                                        <td> <%= notice.Type %> </td>
                                        <td> <%= notice.Date %> </td>
                                        <td> <%= notice.Text %></td>
                                        <td> <%= notice.Technical %> </td> 
                                        <td> 
                                            <button type = "button" href = "/getNotices/<% notice.Id %>" class = "btn btn-secondary material-icons" data-bs-toggle = "modal" data-bs-target = "#showNotice">
                                                visibility 
                                            </button>
                                        </td>
                                    </tr>
                                <% }}); %>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </section>

        <section>
            <%- include("noticesHistorical") %>
        </section>

        <section>
            <div class = "modal fade" id = "newNotice">
                <div class = "modal-dialog modal-dialog-centered">
                    <div class = "modal-content">

                        <div class = "modal-header justify-content-center align-items-center text-center text-bg-light">
                            <h6> Nuevo aviso </h6>
                        </div>

                        <form method = "POST" action = "newNotice">
                            

                            <div class = "moda-body">

                                <div class = " form-group row">
                                    <div class = "col col-sm-6 col-md-6 col-xl-6">
                                        <!-- Revise values names of the options select -->
                                        <select name = "function" class = "form-control form-select">
                                            <option value = ""> </option>
                                            <option value = "Administración">Administración Digital </option>
                                            <option value = "Comunicaciones"> Comunicaciones </option>
                                            <option value = "Conectivity"> Conectividad </option>
                                            <option value = "Docency"> Docencia </option>
                                            <option value = "Web"> Web </option>
                                        </select>
                                    </div> 

                                    <div class = "col col-sm-6 col-md-6 col-xl-6">
                                        
                                    </div>
                                </div>


                                <div class = "form-group">
                                    <label for = "newNotice" class = "form-label"></label>
                                    <textarea class = "form-control" name = "newNotice" cols="30" rows="10"></textarea>
                                </div>

                            </div>         

                            <div class = "modal-footer">
                                <button type = "submit" class = "btn btn-primary material-icons"> send </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class = "modal fade" id = "showNotice">
                <div class = "modal-dialog modal-dialog-centered">
                    <div class = "modal-content">

                        <div class = "modal-header">
                            <h5> Hola </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>